.theme-light {
  color: #000000;
  background: #00FFFF;

  .experience-card {
    background: #0B3954;
    color: #ffffff;
  }

  .work-experience-card {
    background: #eeeeee;
    color: #000000;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
  }

  .work-experience-card:hover {
    background: #ffffff;
    border-width: 2px;
  }
}

.theme-dark {
  color: white;
  background:  #0B3954;

  .experience-card {
    background: #00dddd;
    color: #000000;
  }

  .work-experience-card {
    background: #000000;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
  }

  .work-experience-card:hover {
    background: #222222;
    border-width: 2px;
  }
}