@tailwind base;
@tailwind components;
@tailwind utilities;

.PageDescription {
    font-size: 24px;
    font-family: monospace;
}

.ProfilePic {
    float: right;
    max-width: 30%;
    margin-right: 30px;
    border-radius: 10%;
    margin-top: 30px;
}

.ProfilePicMobile {
    border-radius: 8%;
    margin-top: 20px;
    margin-left: 10%;
    flex: auto;
    height: 144px;
}