@tailwind base;
@tailwind components;
@tailwind utilities;

.PageHeaderMobile {
    font-size: 96px;
    font-family: monospace;
    padding-left: 60px;
    text-align: center;
}

.PageDescription {
    font-size: 24px;
    font-family: monospace;
}

.PageDescriptionMobile {
    font-size: 24px;
    font-family: monospace;
    padding-left: 80px;
}

.ProfilePic {
    float: right;
    max-width: 30%;
    margin-right: 30px;
    border-radius: 10%;
    margin-top: 30px;
}

.ProfilePicMobile {
    border-radius: 8%;
    margin-top: 20px;
    margin-left: 20%;
    flex: auto;
    height: 144px;
}