.PageHeader {
    font-size: 96px;
    color: white;
    font-family: monospace;
    padding-left: 100px;
}

.PageDescription {
    font-size: 24px;
    color: white;
    font-family: monospace;
    padding-left: 100px;
    max-width: 61%;
}

.ProfilePic {
    float: right;
    max-width: 30%;
    margin-right: 30px;
    border-radius: 10%;
}