.nav-bar {
    background: #F0FFFF;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    position: fixed;

    .logo {
        display: block;
        padding: 8px auto;
        width: 100%;
        height: auto;
        margin: 8px;
        max-width: 42px;
        border-radius: 20%;
    }

    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {
            font-size: 22px;
            display: block;
            line-height: 51px;
            position: relative;
            text-decoration: none;
        }

        i {
            transition: all 0.3s ease-in-out;
        }


    }
}

.NavLinkHome {

    &:hover {
        color: #FFA500;

        svg {
            opacity: 0;
        }

        &:after {
            opacity: 1;
        }
    }

    &:after {
        content: 'HOME';
        font-size: 14px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
    }
}

.NavLinkAbout {

    &:hover {
        color: #FFA500;

        svg {
            opacity: 0;
        }

        &:after {
            opacity: 1;
        }
    }

    &:after {
        content: 'ABOUT';
        font-size: 12px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
    }
}

.NavLinkContact {

    &:hover {
        color: #FFA500;

        svg {
            opacity: 0;
        }

        &:after {
            opacity: 1;
        }
    }

    &:after {
        content: 'CONTACT';
        font-size: 8px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
    }
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
        svg {
            color: #FFA500;
        }
    }
}